services:
    mysql:
        image: mariadb:10.11
        container_name: mysql_db
        restart: unless-stopped
        environment:
            MYSQL_ROOT_PASSWORD: rootpassword
            MYSQL_DATABASE: bbp_db_dev
            MYSQL_USER: myuser
            MYSQL_PASSWORD: mypassword
        ports:
            - '3306:3306'
        command: --default-authentication-plugin=mysql_native_password
        volumes:
            - mysql_data:/var/lib/mysql

    redis:
        image: redis/redis-stack:latest
        container_name: redis_db
        restart: unless-stopped
        ports:
            - '6379:6379'
            - '8001:8001'
        volumes:
            - redis_data:/data

volumes:
    mysql_data:
    redis_data:
